<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Websockets Client</title>
    <link href="https://unpkg.com/vue-simple-notify/dist/vue-simple-notify.min.css" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-simple-notify/dist/vue-simple-notify.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <main id="v-app">
        <section class="alerts">
            <alerts-component :items="alerts"></alerts-component>
        </section>
        <section class="chat">
            <h1>{{ title }}</h1>
            <form>
                <input v-model="text" type="text"/>
                <button type="submit" @click.prevent="sendChatMessage()">Send</button>
            </form>
            <p>
                <ul>
                    <li v-for="msg of messages">
                        <strong>{{ msg.sender }}:</strong> {{ msg.message }}
                    </li>
                </ul>
            </p>
        </section>
    </main>
    <script>
        Vue.component('alerts-component', VueSimpleNotify.VueSimpleNotify)
        var app = new Vue({
            el: '#v-app',
            data: {
                username: '',
                title: 'My App Chat',
                text: '',
                messages: [],
                socket: { chat: null, alert: null },
                alerts: [],
            },
            methods: {
                sendChatMessage() {
                    this.socket.chat.emit('chatToServer', { sender: this.username, message: this.text });
                    this.text = "";
                },
                receiveChatMessage(msg) {
                    this.messages.push(msg);
                },
                receiveAlert(alert) {
                    console.log(alert);
                    this.alerts.push(alert);
                }
            },
            created() {
                this.username = prompt('Enter a username:');

                this.socket.alert = io('http://localhost:3000/alert');
                this.socket.alert.on('alertToClient', (alert) => this.receiveAlert(alert));

                this.socket.chat = io('http://localhost:3000/chat');
                this.socket.chat.on('chatToClient', (msg) => this.receiveChatMessage(msg));
            }
        });
    
    </script>
</body>
</html>