main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "chat alerts";
}

section.chat {
    grid-area: chat;
}

section.alerts {
    grid-area: alerts;
}

.tab-row {
    padding-top: 20px;
}

.tab-btn.active {
    background: blue;
    color: white;
}